/* Actual CSS for Valorant Rank Display */
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 33%;
  position: relative;
  margin-top: 50px;

  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  animation: 1s ease 0s 1 fadeInAnimation;
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}

/* Top Header */
.cardHeader {
  background-color: #fa4454 !important;
  border-radius: 3px 3px 0 0;
  text-align: center;

  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.cardHeader:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
}

.title {
  width: 80% !important;
  border: 5px solid white !important;
}

/* Bottom Header */
.cardHeader2 {
  background-color: black !important;
}

.nameTag {
  color: white;
  opacity: .8;

}

.nameTagText {
  text-align: center;
  background-color: black;
  position: absolute !important;
}

.rowRank {
  margin-top: 5px !important;
}

.update {
  text-align: center;
  color: whitesmoke;
  background-color: #b38c8f;
  margin-top: 5px;
}

.server {
  border-radius: 0 !important;
  margin-top: 17px;
}

.rankImg {
  left: 0px;
  background-color: #364966;
  border: 5px solid #364966 !important;
}

.col2 {
  color: white;
  text-align: center;
  margin-top: 15px !important;
  font-family: 'Courier New', Courier, monospace;
}

/* Youtube */
.youtube {
  background-color: #fa4454;
  background: linear-gradient(#fa4454, #dc3d4b);
  border-radius: 0 0 3px 3px;
}

/* Animations */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 45% !important;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 95% !important;
  }
}